body {
  line-height: 1.5;
}

.frame {
  display: block;
  margin: 4px;
}

.sliderContainer {
  max-width: 100%;
  width: 920px;
  //   height: 800px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: #575759;
}

// Text

.sliderText {
  width: 35%;
  color: #575759;
  font: 0.8rem "Georgia";
  padding-left: 2rem;
}

.projectName {
  color: #252526;
}

.viewMore {
  margin-top: 2rem;

  &:hover a {
    color: #252526;
  }
}

// Image Slides
.slider {
  position: relative;
  width: 65%;
}

img {
  max-width: 100%;
  height: auto;
}

// Cursors

.cursor-prev {
  cursor: url(../../img/Prev.png), auto;
  cursor: url(../../img/Prev.png) 16 16, auto;
}

.cursor-next {
  cursor: url(../../img/Next.png), auto;
  cursor: url(../../img/Next.png) 16 16, auto;
}

// Navigation dots

.sliderNav {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #969699;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6 ease;
}

.dot:hover {
  background-color: #252526;
}

.dotActive {
  background-color: #252526;
}
