.frame {
  display: block;
  margin: 4px;
}

.sliderContainer {
  max-width: 100%;
  width: 920px;
  //   height: 800px;
  overflow: auto;
}

// Text

.sliderText {
  width: 25%;
  color: #575759;
  font: 0.8rem "Georgia";
  float: right;
  padding: 4rem 2rem 0 2rem;
}

.projectName {
  //   font-size: 1rem;
  color: #252526;
}

// Image Slides
.slider {
  position: relative;
  width: 75%;
  float: left;
}

img {
  max-width: 100%;
  height: auto;
}

// Cursors

.cursor-prev {
  cursor: url(../../img/Prev.png), auto;
  cursor: url(../../img/Prev.png) 16 16, auto;
}

.cursor-next {
  cursor: url(../../img/Next.png), auto;
  cursor: url(../../img/Next.png) 16 16, auto;
}

// Navigation dots

.sliderNav {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #969699;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6 ease;
}

.dot:hover {
  background-color: #252526;
}

.dotActive {
  background-color: #252526;
}
